{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<p>name: {{ event.name }}</p>
<p>Long: {{ event.lon }}</p>
<p>Lat: {{ event.lat }}</p>
<p>City: {{ event.city }}</p>
<h3>Smack Talk</h3>
{% for smack_post in event.smackpost_set.all %}
	<p>{{ smack_post.post }}</p>
	<form method="post" action="{% url 'vote' pk=smack_post.pk %} " class="vote_form">
	  <li> {{ smack_post.votes }}
		  {% csrf_token %}
		  <input type="hidden" id="id_link" name="post" class="hidden_id" value="{{ smack_post.pk }}" />
		  <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />
		  {% if not user.is_authenticated %}
  		  	<button disabled title="Please login to vote">+</button>
		  {% else %}
  		  	<button type="submit">Up</button>
  		  {% endif %}
	  </li>
    </form>
{% endfor %}

<a href="/events/{{event.pk}}/post">Add smack</a>

{% endblock %}
